/* flex */
/*----------------------------------------------------father  */
.flex-container{
 width: 100%;
 height: 4rem;
 display: flex ; 
 flex-direction: row;
 align-items: center;
 justify-content: center; 
}
.flex-container-ui-alert{
 display: inline-flex ; 
 flex-direction: row;
 align-items: center;
 justify-content: center;
}
.flex-container-title{
 /* width: 100%; */
 /* height: 4rem; */
 display: flex ; 
 flex-direction: row;
 /* align-items: center; */
 justify-content: flex-start; 
}

/*----------------------------------------------------sons  */

.flex-item{
  flex: 1;
  padding: 0 0.9375rem;
}
.flex-2 {
  flex-grow: 5;
  flex-shrink: 1;
  flex-basis: 0%;
}
.flex-3 {
  flex-grow: 15;
  flex-shrink: 1;
  flex-basis: 0%;
}
.flex-6 {
  flex-grow: 6;
  flex-shrink: 1;
  flex-basis: 0%;
}
.flex-item2{
  padding: 0.8rem ;
  flex-basis: 40%;
  margin: 0 .4rem .7rem ;
}
.flex-item3{
  flex-grow: 1;
  /* border: 1px solid #000; */
}
.flex-10{
  flex-grow: 10;
  flex-shrink: 1;
}